.ingredientsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: relative;
  max-width: 272px;
}
.ingredientsImg {
  margin: 0;
  padding: 0;
}
.ingredientsPrice {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.ingredientsName {
  min-height: 48px;
}

.ingredientsName {
  text-align: center;
}