.burgerIngredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  max-height: 756px;
}

.ingredientsHeader {
  width: 100%;
  text-align: left;
}

.chapter {
  width: 100%;
  text-align: left;
}

.breadsContainer {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  justify-content: space-between;
}

.ingredientsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: relative;
}

.ingredientsPrice {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}