.burgerIngredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  max-height: 912px;
  box-sizing: border-box;
}

.ingredientsHeader {
  width: 100%;
  text-align: left;
}

.chapter {
  width: 100%;
  text-align: left;
}

.ingredientsContainer {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  justify-content: space-between;
  overflow: scroll;
}
