.profilePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
  max-width: 1920px;
  width: 1920px;
  box-sizing: border-box;
}

.profileContainer {
  display: flex;
  gap: 60px;
  padding: 0 340px;
  width: 100%;
  box-sizing: border-box;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  margin: 0 60px 0 0;
  padding: 0;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
}

.link {
  text-decoration: none;
  color: hsla(240, 20%, 60%, 1);
}

.profileForm {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}